<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Repair Book</title>
</head>
<body>
    <h1 th:text="${msnBemVindo}"></h1>
<a href="/creataccount">Criar Cadastro</a>
</body>
</html>